<mat-toolbar class="navbar">
  <img routerLink="/home" src="../../assets/images/card.png" style="width: 120px; height: 160px;margin-top: 120px">
  <ng-template [ngIf]="authService.isAuthenticated()">
    <!-- <span routerLink="/profile" style="margin-left: 40px">Profile</span>
     <span routerLink="/cash" style="margin-left: 10px">Cash</span>

     <span routerLink="/users" style="margin-left: 10px">Users</span>
     <span routerLink="/overview" style="margin-left: 10px">Overview</span>
     <span routerLink="/admin" style="margin-left: 10px">Admin</span> -->
     <span routerLink="/ranges" style="margin-left: 10px">Ranges</span>
    <span style="margin-left: 10px">Forum</span>
   </ng-template>
   <span class="example-fill-remaining-space"></span>
   <span routerLink="/login" *ngIf="!authService.isAuthenticated()">Login</span>
   <span *ngIf="authService.isAuthenticated()" (click)="logout()">Logout</span>
 </mat-toolbar>
