th {
  background-color: lightgrey;
}

table {
  border: 3px solid grey;
}

td {
  padding: 10px 10px 10px 10px;
}

th {
  padding: 10px 10px 10px 10px;
}

td#empty {
  background-color: lightgrey;
}

td:hover {
  background-color: #DCDCDC;
}

.btn:not(.types) {
  border-radius: 0 !important;
}


.types{
  margin-left: 2px;
  margin-top: 10px;
  padding: 2px;
}

.btn {
  cursor: pointer;
}
.container {
  font-family: 'Lato', sans-serif;
}

/* toggle check box */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-left: 50%;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.percentage {
  font-size: 5pt;
  margin-left: 20%;
  display: block;
}

.spinnerRanges {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.btn-dark {
  cursor: pointer;
}





