<div class="container">
  <div class="row" style="margin-bottom: 20px" *ngIf="isAdmin">
    <button class="btn btn-dark" (click)="save()">Save</button>
    <button class="btn btn-dark" style="margin-left: 2px">Clear</button>
    <button class="btn btn-dark" style="margin-left: 2px">Delete</button>
   <!-- <label class="switch">
      <input type="checkbox">
      <span class="slider round"></span>
    </label> -->
  </div>
  <div class="row">
    <div class="col-lg-8">
      <div class="row">
        <table>
          <!-- <col>-->

          <tr>
            <td id="empty" rowspan="1"></td>
            <th>A</th>
            <th>K</th>
            <th>Q</th>
            <th>J</th>
            <th>T</th>
            <th>9</th>
            <th>8</th>
            <th>7</th>
            <th>6</th>
            <th>5</th>
            <th>4</th>
            <th>3</th>
            <th>2</th>
          </tr>


          <tr id="A">
            <th scope="row">A</th>
            <td [style.background-color]="background_color" [style.cursor]="cursor" (click)="add(rg)" *ngFor="let rg of ranges.slice(0,13)">{{rg.value + rg.kind}}<span class="percentage">{{rg.percentage}} %</span></td>
          </tr>

          <tr id="K">
            <th scope="row">K</th>
            <td [style.background-color]="background_color" [style.cursor]="cursor" (click)="add(rg)" *ngFor="let rg of ranges.slice(13,26)">{{rg.value + rg.kind}}<span class="percentage">{{rg.percentage}} %</span></td>
          </tr>

          <tr id="Q">
            <th scope="row">Q</th>
            <td [style.background-color]="background_color" [style.cursor]="cursor" (click)="add(rg)" *ngFor="let rg of ranges.slice(26,39)">{{rg.value + rg.kind}}<span class="percentage">{{rg.percentage}} %</span></td>
          </tr>

          <tr id="J">
            <th scope="row">J</th>
            <td [style.background-color]="background_color" [style.cursor]="cursor" (click)="add(rg)" *ngFor="let rg of ranges.slice(39,52)">{{rg.value + rg.kind}}<span class="percentage">{{rg.percentage}} %</span></td>
          </tr>

          <tr id="T">
            <th scope="row">T</th>
            <td [style.background-color]="background_color" [style.cursor]="cursor" (click)="add(rg)" *ngFor="let rg of ranges.slice(52,65)">{{rg.value + rg.kind}}<span class="percentage">{{rg.percentage}} %</span></td>
          </tr>

          <tr id="9">
            <th scope="row">9</th>
            <td [style.background-color]="background_color" [style.cursor]="cursor"  (click)="add(rg)"*ngFor="let rg of ranges.slice(65,78)">{{rg.value + rg.kind}}<span class="percentage">{{rg.percentage}} %</span></td>
          </tr>

          <tr id="8">
            <th scope="row">8</th>
            <td [style.background-color]="background_color" [style.cursor]="cursor" (click)="add(rg)"*ngFor="let rg of ranges.slice(78,91)">{{rg.value + rg.kind}}<span class="percentage">{{rg.percentage}} %</span></td>
          </tr>

          <tr id="7">
            <th scope="row">7</th>
            <td  [style.background-color]="background_color" [style.cursor]="cursor"(click)="add(rg)" *ngFor="let rg of ranges.slice(91,104)">{{rg.value + rg.kind}}<span class="percentage">{{rg.percentage}} %</span></td>
          </tr>

          <tr id="6">
            <th scope="row">6</th>
            <td [style.background-color]="background_color" [style.cursor]="cursor"(click)="add(rg)" *ngFor="let rg of ranges.slice(104,117)">{{rg.value + rg.kind}}<span class="percentage">{{rg.percentage}} %</span></td>
          </tr>

          <tr id="5">
            <th scope="row">5</th>
            <td [style.background-color]="background_color" [style.cursor]="cursor"(click)="add(rg)" *ngFor="let rg of ranges.slice(117,130)">{{rg.value + rg.kind}}<span class="percentage">{{rg.percentage}} %</span></td>
          </tr>

          <tr id="4">
            <th scope="row">4</th>
            <td [style.background-color]="background_color" [style.cursor]="cursor"(click)="add(rg)" *ngFor="let rg of ranges.slice(130,143)">{{rg.value + rg.kind}}<span class="percentage">{{rg.percentage}} %</span></td>
          </tr>

          <tr id="3">
            <th scope="row">3</th>
            <td [style.background-color]="background_color" [style.cursor]="cursor"(click)="add(rg)" *ngFor="let rg of ranges.slice(143,156)">{{rg.value + rg.kind}}<span class="percentage">{{rg.percentage}} %</span></td>
          </tr>

          <tr id="2">
            <th scope="row">2</th>
            <td [style.background-color]="background_color" [style.cursor]="cursor" (click)="add(rg)"*ngFor="let rg of ranges.slice(156,169)">{{rg.value + rg.kind}}<span class="percentage">{{rg.percentage}} %</span></td>
          </tr>
        </table>
      </div>

      <div class="row" style="margin-top: 20px">
        <button class="btn btn-dark" (click)="setPosition($event.target.innerText)">BB</button>
        <button class="btn btn-dark" style="margin-left: 2px" (click)="setPosition($event.target.innerText)">SM</button>
        <button class="btn btn-dark" style="margin-left: 2px" (click)="setPosition($event.target.innerText)">UTG</button>
        <button class="btn btn-dark" style="margin-left: 2px" (click)="setPosition($event.target.innerText)">UTG +1</button>
        <button class="btn btn-dark" style="margin-left: 2px" (click)="setPosition($event.target.innerText)">MP</button>
        <button class="btn btn-dark" style="margin-left: 2px" (click)="setPosition($event.target.innerText)">MP +1</button>
        <button class="btn btn-dark" style="margin-left: 2px" (click)="setPosition($event.target.innerText)">HJ</button>
        <button class="btn btn-dark" style="margin-left: 2px" (click)="setPosition($event.target.innerText)">CO</button>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="container" style="background-color: lightgray; padding: 15px 15px 15px 15px">
        <h3 style="text-align: center;">{{positionSelected}}</h3>
        <h4 class="btn types" *ngIf="typeSelected!==null" [style.background-color]="typeSelected.color">{{typeSelected.type}}</h4>
      </div>
      <div class="container" style="background-color: lightgray; margin-top: 20px; padding: 15px 15px 15px 15px">
        <button *ngFor="let t of types" class="btn types" (click)="selectType(t)" [style.background-color]="t.color">{{t.type}}</button>

        <button class="btn btn-dark types" (click)="addType()" *ngIf="isAdmin">+</button>
      </div>
    </div>
  </div>
</div>
