<div class="container">
  <div class="row" style="margin-bottom: 20px">
    <button class="btn btn-dark">Save</button>
    <button class="btn btn-dark" style="margin-left: 2px">Clear</button>
    <button class="btn btn-dark" style="margin-left: 2px">Delete</button>
    <label class="switch">
      <input type="checkbox">
      <span class="slider round"></span>
    </label>
  </div>
  <div class="row">
    <div class="col-lg-8">
      <div class="row">
        <table>
          <!-- <col>-->

          <tr>
            <td id="empty" rowspan="1"></td>
            <th>A</th>
            <th>K</th>
            <th>Q</th>
            <th>J</th>
            <th>T</th>
            <th>9</th>
            <th>8</th>
            <th>7</th>
            <th>6</th>
            <th>5</th>
            <th>4</th>
            <th>3</th>
            <th>2</th>
          </tr>


          <tr id="A">
            <th scope="row">A</th>
            <td style="font-weight:bold;">AA</td>
            <td>AKs</td>
            <td>AQs</td>
            <td>AJs</td>
            <td>ATs</td>
            <td>A9s</td>
            <td>A8s</td>
            <td>A7s</td>
            <td>A6s</td>
            <td>A5s</td>
            <td>A4s</td>
            <td>A3s</td>
            <td>A2s</td>
          </tr>

          <tr id="K">
            <th scope="row">B</th>
            <td>AKo</td>
            <td style="font-weight:bold;">KK</td>
            <td>KQs</td>
            <td>KJs</td>
            <td>KTs</td>
            <td>K9s</td>
            <td>K8s</td>
            <td>K7s</td>
            <td>K6s</td>
            <td>K5s</td>
            <td>K4s</td>
            <td>K3s</td>
            <td>K2s</td>
          </tr>

          <tr id="Q">
            <th scope="row">Q</th>
            <td>AQo</td>
            <td>KQo</td>
            <td style="font-weight:bold;">QQ</td>
            <td>QJs</td>
            <td>QTs</td>
            <td>Q9s</td>
            <td>Q8s</td>
            <td>Q7s</td>
            <td>Q6s</td>
            <td>Q5s</td>
            <td>Q4s</td>
            <td>Q3s</td>
            <td>Q2s</td>
          </tr>

          <tr id="J">
            <th scope="row">J</th>
            <td>AJo</td>
            <td>KJo</td>
            <td>QJo</td>
            <td style="font-weight:bold;">JJ</td>
            <td>JTs</td>
            <td>J9s</td>
            <td>J8s</td>
            <td>J7s</td>
            <td>J6s</td>
            <td>J5s</td>
            <td>J4s</td>
            <td>J3s</td>
            <td>J2s</td>
          </tr>

          <tr id="T">
            <th scope="row">T</th>
            <td>ATo</td>
            <td>KTo</td>
            <td>QTo</td>
            <td>JTo</td>
            <td style="font-weight:bold;">TT</td>
            <td>T9s</td>
            <td>T8s</td>
            <td>T7s</td>
            <td>T6s</td>
            <td>T5s</td>
            <td>T4s</td>
            <td>T3s</td>
            <td>T2s</td>
          </tr>

          <tr id="9">
            <th scope="row">9</th>
            <td>A9o</td>
            <td>K9o</td>
            <td>Q9o</td>
            <td>J9o</td>
            <td>T9o</td>
            <td style="font-weight:bold;">99</td>
            <td>98s</td>
            <td>97s</td>
            <td>96s</td>
            <td>95s</td>
            <td>94s</td>
            <td>93s</td>
            <td>92s</td>
          </tr>

          <tr id="8">
            <th scope="row">8</th>
            <td>A8o</td>
            <td>K8o</td>
            <td>Q8o</td>
            <td>J8o</td>
            <td>T8o</td>
            <td>98o</td>
            <td style="font-weight:bold;">88</td>
            <td>87s</td>
            <td>86s</td>
            <td>85s</td>
            <td>84s</td>
            <td>83s</td>
            <td>82s</td>
          </tr>

          <tr id="7">
            <th scope="row">7</th>
            <td>A7o</td>
            <td>K7o</td>
            <td>Q7o</td>
            <td>J7o</td>
            <td>T7o</td>
            <td>97o</td>
            <td>87o</td>
            <td style="font-weight:bold;">77</td>
            <td>76s</td>
            <td>75s</td>
            <td>74s</td>
            <td>73s</td>
            <td>72s</td>
          </tr>

          <tr id="6">
            <th scope="row">6</th>
            <td>A6o</td>
            <td>K6o</td>
            <td>Q6o</td>
            <td>J6o</td>
            <td>T6o</td>
            <td>96o</td>
            <td>86o</td>
            <td>76o</td>
            <td style="font-weight:bold;">66</td>
            <td>65s</td>
            <td>64s</td>
            <td>63s</td>
            <td>62s</td>
          </tr>

          <tr id="5">
            <th scope="row">5</th>
            <td>A5o</td>
            <td>K5o</td>
            <td>Q5o</td>
            <td>J5o</td>
            <td>T5o</td>
            <td>95o</td>
            <td>85o</td>
            <td>75o</td>
            <td>65o</td>
            <td style="font-weight:bold;">55</td>
            <td>54s</td>
            <td>53s</td>
            <td>52s</td>
          </tr>

          <tr id="4">
            <th scope="row">4</th>
            <td>A4o</td>
            <td>K4o</td>
            <td>Q4o</td>
            <td>J4o</td>
            <td>T4o</td>
            <td>94o</td>
            <td>84o</td>
            <td>74o</td>
            <td>64o</td>
            <td>54o</td>
            <td style="font-weight:bold;">44</td>
            <td>43s</td>
            <td>42s</td>
          </tr>

          <tr id="3">
            <th scope="row">3</th>
            <td>A3o</td>
            <td>K3o</td>
            <td>Q3o</td>
            <td>J3o</td>
            <td>T3o</td>
            <td>93o</td>
            <td>83o</td>
            <td>73o</td>
            <td>63o</td>
            <td>53o</td>
            <td>53o</td>
            <td style="font-weight:bold;">33</td>
            <td>32s</td>
          </tr>

          <tr id="2">
            <th scope="row">2</th>
            <td>A2o</td>
            <td>K2o</td>
            <td>Q2o</td>
            <td>J2o</td>
            <td>T2o</td>
            <td>92o</td>
            <td>82o</td>
            <td>72o</td>
            <td>62o</td>
            <td>52o</td>
            <td>42o</td>
            <td>32o</td>
            <td style="font-weight:bold;">22</td>
          </tr>
        </table>
      </div>

      <div class="row" style="margin-top: 20px">
        <button class="btn btn-dark">BB</button>
        <button class="btn btn-dark" style="margin-left: 2px">SM</button>
        <button class="btn btn-dark" style="margin-left: 2px">UTG</button>
        <button class="btn btn-dark" style="margin-left: 2px">UTG +1</button>
        <button class="btn btn-dark" style="margin-left: 2px">MP</button>
        <button class="btn btn-dark" style="margin-left: 2px">MP +1</button>
        <button class="btn btn-dark" style="margin-left: 2px">HJ</button>
        <button class="btn btn-dark" style="margin-left: 2px">CO</button>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="container" style="background-color: lightgray; padding: 15px 15px 15px 15px">
        <h3 style="text-align: center;">CO</h3>
      </div>
      <div class="container" style="background-color: lightgray; margin-top: 20px; padding: 15px 15px 15px 15px">
        <button class="btn types" style="background-color: green">flat</button>
        <button class="btn types" style="background-color: darkred">3bet</button>
        <button class="btn types" style="background-color: purple">cbet</button>
        <button class="btn types" style="background-color: yellowgreen">bluff</button>
        <button class="btn types" style="background-color: saddlebrown">ma posicao</button>
        <button class="btn types" style="background-color: orangered">chupar o gajo</button>
        <button class="btn types" style="background-color: mediumvioletred">atras</button>
        <button class="btn types" style="background-color: chartreuse">todas</button>
        <button class="btn btn-dark types">+</button>
      </div>
    </div>
  </div>
</div>
