<div class="container-fluid">
  <div class="login-page">
    <div class="form">
      <form class="login-form" (ngSubmit)="onSingIn()">
        <input type="text" placeholder="email" [formControl]="emailControl"/>
        <p *ngIf="emailControl.hasError('required') && sent">
          Email is <strong>required</strong>
        </p>
        <input type="password" placeholder="password" [formControl]="passwordControl"/>
        <p *ngIf="passwordControl.hasError('required') && sent">
          Password is <strong>required</strong>
        </p>
        <button type="submit">login</button>
      </form>
    </div>
  </div>

</div>


