<div class="content">
  <form class="example-form" (ngSubmit)="onSingIn()">

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Email" [formControl]="emailControl"
             [errorStateMatcher]="matcher">
      <mat-error *ngIf="emailControl.hasError('email') && !emailControl.hasError('required')">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="emailControl.hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Password" type="password" [formControl]="passwordControl">
      <mat-error *ngIf="passwordControl.hasError('required')">
        Password is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">Login</button>
  </form>
</div>
