<div class="col-lg-12">
  <div class="videodv">
    <iframe class="video" src="//www.youtube.com/embed/5KmC0-EUmMg?showinfo=0&controls=0&autohide=1"
            height="200" frameborder="0" allowfullscreen></iframe>

  </div>
  <div class="videodv" (click)="show('//www.youtube.com/embed/5KmC0-EUmMg?showinfo=0&controls=0&autohide=1')">
    <iframe class="video" src="//www.youtube.com/embed/5KmC0-EUmMg?showinfo=0&controls=0&autohide=1"
            height="200" frameborder="0" allowfullscreen></iframe>

  </div>
  <div class="videodv">
    <iframe class="video" src="//www.youtube.com/embed/5KmC0-EUmMg?showinfo=0&controls=0&autohide=1"
            height="200" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="videodv">
    <iframe class="video" src="//www.youtube.com/embed/5KmC0-EUmMg?showinfo=0&controls=0&autohide=1"
            height="200" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="videodv">
    <iframe class="video" src="//www.youtube.com/embed/5KmC0-EUmMg?showinfo=0&controls=0&autohide=1"
            height="200" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="videodv">
    <iframe class="video" src="//www.youtube.com/embed/5KmC0-EUmMg?showinfo=0&controls=0&autohide=1"
            height="200" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="videodv">
    <iframe class="video" src="//www.youtube.com/embed/5KmC0-EUmMg?showinfo=0&controls=0&autohide=1"
            height="200" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="videodv">
    <iframe class="video" src="//www.youtube.com/embed/5KmC0-EUmMg?showinfo=0&controls=0&autohide=1"
            height="200" frameborder="0" allowfullscreen></iframe>
  </div>
</div>



