.container-fluid{
  background-color:#343a40 ;
  height: 100vh;
  overflow: auto;
  margin-top: -100px;
}

.col-lg-12{
  margin-top: 100px;
}

.col-md-3.card{
  background-color: #4d4d4d;
}

.card {
  cursor: pointer;
  display: inline-block;
  z-index: 1;
  margin: 20px;
  padding: 45px;
  text-align: center;
  border: 1px solid;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.card:before {
  display: inline-block;
  z-index: -1;
  margin: 20px;
  padding: 45px;
  text-align: center;
  box-shadow: none;
  background-color: darkgreen;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
}

.card:hover {
  -webkit-transform: scaleY(1) !important;
  transform: scaleY(1) !important;
}
