.container-fluid{
  background-color:#343a40 ;
  height: 100vh;
  overflow: auto;
  margin-top: -100px;
}

.col-lg-12{
  margin-top: 100px;
}

.col-md-3.card{
  background-color: lightgray;
}

.card {
  cursor: pointer;
  display: inline-block;
  z-index: 1;
  margin: 20px;
  padding: 45px;
  text-align: center;
  border: 1px solid;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.card:hover {
  display: inline-block;
  z-index: 1;
  margin: 20px;
  padding: 45px;
  text-align: center;
  box-shadow: none;
  background-color: darkgrey;

}



