.btn {
  border-radius: 0 !important;
  cursor: pointer;
}
div.seats, div.board {
  display: inline-flex !important;
}

.chip {
  background-color: #2196F3;
  width: 22px;
  height: 22px;
  border-radius: 20px;
  font-size: 9pt;
  text-align: center;
  position: absolute;
}

/*

chat
 */

.talk-bubble {
  margin: 20px;
  display: inline-block;
  position: relative;
  width: 75%;
  height: auto;
  background-color: lightgrey;
}

.tri-right.border.left-top:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: -40px;
  right: auto;
  top: -8px;
  bottom: auto;
  border: 32px solid;
  border-color: #666 transparent transparent transparent;
}

.tri-right.left-top:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: -20px;
  right: auto;
  top: 0px;
  bottom: auto;
  border: 22px solid;
  border-color: lightgrey transparent transparent transparent;
}

.talktext {
  padding: 1em;
  text-align: left;
  line-height: 1.5em;
}

.talktext p {
  /* remove webkit p margins */
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}

/*
cards and table
 */
@media screen and (min-width: 1200px) {
  .main {
    height: 0px;
  }

  .table {
    background-color: green;
    height: 40.5%;
    width: 76.5%;
    border-radius: 50%;
    border: 1em solid black;
  }

  .board {
    position: relative;
    display: inline-block;
    top: 20%;
    left: 32.5%;
  }

  .fold {
    opacity: 0.20 !important;
  }

  .card-small {
    border: .2em solid black;
    border-radius: 10%;
    height: 65px;
    width: 41px; /*70% of height*/
    background-color: white;
    display: inline-block;
  }

  .contentGrid {
    background-color: darkgray;
  }

  .card-text {
    text-align: center;
    font-weight: bold;
    margin-bottom: -10px;
  }

  .card-img {
    text-align: center;
    margin-bottom: 0px;
    font-size: 2em;
  }

  .red {
    color: red;
  }

  .black {
    color: black;
  }

  .null {
    background-color: darkred;
  }

  .material-icons {
    /*transform: translate(500px,230px);*/
    color: black;
  }

  .small {
    background-color: yellow !important;
  }
  .big {
    background-color: darkgoldenrod !important;
  }

}

@media screen and (max-width: 300px) {
  .card-small {
    display: none;
  }
}



/***
TABLE FOR TABLE OF POKER
**/

.seats, .seat-name, i {
  cursor: pointer;
}



td {
  height: 110px;
  width: 110px;
  /*border: solid 1px black;*/
  color: black;
  padding: 10px 0px 10px 0px;
}

.grid {
  position: relative;
  text-align: center;
  color: white;
  z-index: 900;
}

.centered {
  position: absolute;
  top: 43.5%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.seat-name p, .info {
  color: black;
  font-weight: bold;
  font-size: 9pt;
  padding-bottom: 0px;
  margin-bottom: 0px;
}


.seat-name {
  border: solid 5px black;
  border-radius: 10px;
  background-color: #666666;
}

.bet img {
  width: 50px;
  height: 50px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.bet p {
  color: black;
  font-weight: bold;
  font-size: 9pt;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.win p {
  color: black;
  font-weight: bold;
  font-size: 9pt;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.pot-div {

}

.bet1-div {
  float: right;
}
.bet2-div {
  float: bottom;
}

.bet3-div {
  float: left;
}

.bet4-div {
  float: left;
}

.bet5-div {
  float: right;
}

.bet6-div {

}

.bet7-div {

}

.bet8-div {
  float: left;
}

.bet9-div {
  float: right;
}










